
<html>
<head>
    <meta charset="utf-8">
    <title>网站后台管理系统</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/dashboard.css" rel="stylesheet">
    <!--jQuery dependencies-->
    <link rel="stylesheet" href="/public/css/jquery-ui.css"/>
    <script src="/public/js/jquery-1.12.3.min.js"></script>
    <script src="/public/js/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/public/css/pqgrid.min.css"/>
    <script src="/public/js/pqgrid.min.js"></script>
    <link rel="stylesheet" href="/public/themes/office/pqgrid.css"/>
    <script type="text/javascript" src="/public/js/underscore-min.js"></script>

    <script type="text/javascript">

        $(document).ready(function(){

            $(".div2").click(function(){

                $(this).next("div").slideToggle("slow")

                    .siblings(".div3:visible").slideUp("slow");

            });

        });

    </script>
    <style>
        .tab-pane {
            padding-top: 20px;
        }

        label {
            cursor: pointer;
        }



    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CMS后台管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li id="tuichu"><a href="/">退出登录</a></li>
                <!--<li id="tuichu">退出登录</li>-->
            </ul>

        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">

            <ul class="nav nav-sidebar">
                <li ><a href="/classfig">商品分类</a></li>
                <li ><a href="/list">商品列表</a></li>
                <li class="active"><a href="/add">增加商品</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">基本设计</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">

                        <form action="/caipost"  method="post" enctype="multipart/form-data">
                            <p>所属分类：
                            <select name="classfig" id="opa">
                            </select>
                            </p>
                            <p>商品名称：
                            <input type="text" name="name">
                            </p>
                            <p>商品价格：
                            <input type="text" name="money">
                            </p>
                            <p>商品排序：
                            <input type="text" name="paixu">
                            </p>
                            <p>商品图片：
                            <input type="file" name="tupian">

                            </p>
                            <p>商品描述：
                                <textarea name="areal" id="" cols="30" rows="10"></textarea>
                            </p>
                            <p>状态：
                                已审核：<input type="radio" name="states" value="true">
                                未审核：<input type="radio" name="states" value="false">
                            </p>
                            <p>加入推荐：
                                精品：<input type="checkbox" name="quality" value="true">
                                热销：<input type="checkbox" name="hot" value="true">

                            </p>

                            <p>
                                <input type="submit" class="btn btn-success" value="提交">
                            <!--<button type="button" >提交</button>-->
                            </p>

                        </form>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
<script>
    $.get("/clasFigall", function (data) {
        console.log(data)
        // var datas=data.results
        for(var i=0;i<data.results.length;i++){
            var op=$("<option value='"+data.results[i].name+"'>"+data.results[i].name+"</option>")
            op.appendTo($('#opa'))
        }

    })

    $('#tuichu').click(function () {
        $.get('/tuichu',function (data) {
            alert('退出成功')
            window.location='/'

        })

    })

</script>


</body>
</html>